body { 
    font-family: Arial, Helvetica;
    margin: 0;
    color: black;
}



a { 
	text-decoration: none; 
    color: black;
}

a:hover { 
	text-decoration: underline; 
}


.header {
    background-color: red;
    color: black;
    height: 30px;
    width: 100%;

  
  
}
.utente{
color: black;
text-align: right;
justify-content: end;
font-size: 1.5em;

}



footer{
	background-color: red;
	color: white;
  	height: 30px;
  	width: 100%;
  	position: static;
  	left: 0;
  	bottom: 0
  	;
}


.sidebar {
height: 100%;
width: 150px;
position: absolute;
left: 0;
background-color: white;
}

.sidebar div {
font-size: 24px;
}

h2{
	display: flex;
	justify-content: center;
}

.tabellino{
	display: flex;
	justify-content: center;
	}

.riquadro{
	background-color: white;
	height: 500px;
	width: 100%;
}

table,tr,th,td{
	
	border: 1px solid;
	width: 100%;
	border-color: black;
}


.bio{
	display:flex;
	height: 300px;
	margin-left: 150px;
    font-size: 18px;
}

.bioPic{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	width: 100%;
}

.bioInfo{
	display: flex;
	flex-direction: column;
	width: 500px;
	flex-grow: 1;
	}