body { 
    font-family: Arial, Helvetica;
    margin: 0;
    color: black;
}



a { 
	text-decoration: none; 
    color: black;
}

a:hover { 
	text-decoration: underline; 
}


.header {
    background-color: red;
    color: black;
    height: 30px;
    width: 100%;

  
  
}
.utente{
color: black;
text-align: right;
justify-content: end;
font-size: 1.5em;

}


.punteggio{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	font-size: 40px;
	align-items: center;
	
}
.immagine{
	display: flex;
	justify-content: center;
}

.punti{
	margin-left: 30px;
    margin-right: 30px;

}




h1{
	display: flex;
	justify-content: center;
}







.tabellino{
	display: flex;
	justify-content: center;
	}



table,tr,th,td{
	border: 1px solid;
	width:700px;
	border-color: black;
}
ul{
	list-style-type: none ;
}

li{
	list-style-type: none;
}




footer{
	background-color: red;
	color: white;
  	height: 20px;
  	width: 100%;
  	position: fixed;
  	left: 0;
  	bottom: 0;
}


