body { 
    font-family: Arial, Helvetica;
    margin: 0;
    color: black;
}

a { 
	text-decoration: none; 
    color: black;
}

a:hover { 
	
	text-decoration: underline; 
}


header {
  background-color: red;
    color: black;
    height: 30px;
    width: 100%;
}

footer{
	background-color: red;
	color: white;
  	height: 20px;
  	width: 100%;
  	position: fixed;
  	left: 0;
  	bottom: 0;
}
label {
	width: 8em;
	display: inline-block;
}

