body { 
    font-family: Arial, Helvetica; 
    margin: 0;
	padding: 0;
    color: black;
    border:0;
    box-sizing: border-box;
}

a { 
	text-decoration: none; 
    color: black;
}

a:hover { 
	
	text-decoration: underline; 
}

li{
	list-style-type: none;
}

.schermo-vertical{
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header{
	min-height: 10%;
	background-color: red;
	display: flex;
 	align-items: center;
 	justify-content: flex-end;
 	border: 3px black;
 	background-image: url('/images/logoRomaEur.png');
 	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.header a{
	color: grey;
}
.header .text {
  text-align: right;
  font-size: 24px;
  margin-right: 30px;
}
.header .text a{
	color: whitesmoke;
}
.textCentered{
	align-items: center;
	text-align: center;
	font-size: 1.2em;
}
.section{
	min-height: 84%;
	max-height: 84%;
	background-color: white;
	justify-content: center;
}

.footer{
	min-height: 6%;
	max-height: 6%;
	display: flex;
	background-color: red;
}
.simpleContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;	
	justify-content: center;
}
.simpleContainer-elementsEnd{
	width: 97%;
	text-align: end;	
	justify-content: center;
}
.simpleContainer-elementsCentered{
	align-items: center;
	text-align: center;	
	justify-content: center;
	margin-left: 85px;
}
.flexbox-container-horizontal-c{
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.flexbox-container-horizontal-sb{
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.flexbox-container-horizontal-scrollable{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
	background-color: rgb(254, 186, 186);
	border: 3px solid black;
	overflow: auto;
	margin-left: 15px;
	margin-right: 15px;
}
.flexbox-container-vertical{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.flexbox-container-vertical-adapt{
	display: flex;
	flex-direction: column;
	align-items: end;
}

.riempiTutto-center{
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 80px;
}
.flex-item-slice-unTerzo{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 34%;
	height: 100%;
	background-color: whitesmoke;
}
.flex-item-slice-dueTerzi{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 66%;
	height: 100%;
	padding-left: 10px;
	background-color: whitesmoke;
}
.flex-item-slice{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 200px;
	height: 100px;
	background-color: rgb(218, 5, 5);
}
.flex-item-unTerzoH{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	width: 90%;
	height: 34%;
	min-height: 34%;
	padding-left: 10px;
	background-color: whitesmoke;
}
.flex-item-DueTerziH{
	display: flex;
	flex-direction: row;
	text-align: center;
	width: 90%;
	height: 66%;
	min-height: 66%;
	padding-left: 10px;
	background-color: whitesmoke;
}
.flex-item-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	min-width: 200px;
	height: 250px;
	background-color: whitesmoke;
	margin-left: 80px;
	margin-bottom: 20px;
	border: 2px solid black;
}

.flexbox-vertical-scrollable{
	height: 70%;
	width: 300px;
	padding: 10px;
	margin-right: 30px;
	overflow: auto;
	border: 3px solid black;
	border-radius: 8px;
	background-color: whitesmoke;
}
.flex-item-50w{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: yellow;
}
.flex-item-100w{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: blue;
	width: 100%;
	height: 100%;
}
.flexbox-item-solo{
	height: 480px;
	width: 350px;
	border: 4px solid black;
	background-color: whitesmoke;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	overflow: auto;
	justify-content: center;
}
.flex-item-formNew{
	height: 370px;
	width: 330px;
	border: 4px solid black;
	background-color:whitesmoke;
	overflow: auto;
	padding: 40px;
}

.button-red {
	width: 120px;
	height: 40px;
 	display: inline-block;
  	background-color: red;
  	color: black;
 	text-align: center;
 	border: 4px double orangered;
 	border-radius: 10px;
	font-size: 14px;
 	cursor: pointer;
  	margin: 5px;
  	font-size: 1em;
}
.button-red2 {
	width: 110px;
	height: 40px;
 	display: inline-block;
  	background-color: red;
  	color: black;
 	text-align: center;
 	border: 4px double orangered;
 	border-radius: 10px;
	font-size: 14px;
 	cursor: pointer;
  	margin: 5px;
  	font-size: 1em;
}
.button-green {
	width: 110px;
	height: 40px;
 	display: inline-block;
  	background-color: lightgreen;
  	color: rgb(54, 137, 96);
 	text-align: center;
 	border: 4px double #cccccc;
 	border-radius: 10px;
	font-size: 14px;
 	cursor: pointer;
  	margin: 5px;
  	font-size: 1em;
}
.button-grey {
	width: 200px;
	height: 40px;
 	display: inline-block;
  	background-color: lightgrey;
  	color: black;
 	text-align: center;
 	border: 4px double whitesmoke;
 	border-radius: 10px;
	font-size: 14px;
 	cursor: pointer;
  	margin: 5px;
  	font-size: 1em;
}









/*DA CANCELLARE APPENA EFFETTUATO LE MODIFICHE HTML PER OGNI TEMPLATE*/
header {
  background-color: red;
    color: black;
    height: 30px;
    width: 100%;
    text-align: right;
	justify-content: end;
	font-size: 1em;
}

footer{
	background-color: red;
	color: white;
  	height: 20px;
  	width: 100%;
  	position: fixed;
  	left: 0;
  	bottom: 0;
}
label {
	width: 8em;
	display: inline-block;
}

