<!DOCTYPE html>
<html>
  <head>
    <title>Atleta</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
	<div><a href="/"><img src="/logo-serie-a.png" width="50%"/></a></div>
    <div th:if="${atleta}">
	    <h1 th:text="${atleta.nome}">Nome atleta</h1>
        <div>Numero di maglia: <span th:text="${atleta.numeroDiMaglia}">2000</span></div>
         <div>Squadra: <span th:text=" ${atleta.team}">2000</span></div>

    </div>
    <div th:unless="${atleta}">Non esiste</div>
  </body>
</html>