<!DOCTYPE html>
<html>

<head>
	<title>Atleta</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
	<div><a href="/"><img src="/logo-serie-a.png" width="50%"/></a></div>
	<h1>Atleti della squadra</h1>
	<div th:if="${atleti.isEmpty()}">Non ci sono atleti di questa squadra</div>
	<ul th:if="${!atleti.isEmpty()}">
		<li th:each="atleta : ${atleti}">
			<a href="atleta.html" th:href="@{'/atleti' + '/' + ${atleta.id}}"
				th:text="${atleta.nome} + ' (' + ${atleta.numeroDiMaglia}+')'">Francesco Totti (10)</a>
		</li>
	</ul>
</body>

</html>