<!DOCTYPE html>
<html>

<head>
	<title>
		Form confirm to delete film
	</title>
	<link rel="stylesheet" href="/css/stileGenerale.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
	
	<div>
		<span>Sicuro di voler cancellare la partita: </span>
		<div th:text="${partita.nomeSquadraAvversaria} + ' ( ' + ${partita.punteggioA} + ' - ' + ${partita.punteggioA} + ')'"></div>
	</div>
	
	<a th:href="@{'/admin/deletePartita/' + ${partita.id}}">Conferma</a>
	
	
</body>

</html>