<!DOCTYPE html>
<html>

<head>
	<title>
		Form confirm to delete giocatore
	</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
	<div class="schermo-vertical">
		<div class="header">
			<div class="text" th:if="${userDetails}">
				<span th:text="${userDetails.username}" class="username"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</div>
		
		<div class="section">
			<div class="flexbox-container-horizontal-c">
	
				<div class="flexbox-item-solo">
					
					<div class="spazio"></div>
					<h3>Sicuro di voler cancellare il giocatore:</h3>
					
				
					<div>
						<strong th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}"></strong>
					</div>
					
					<div class="spazio"></div>
					<div>
						<span th:text="'Nato il: ' +${giocatore.dataDiNascita}"></span>
					</div>
					<div>
						<span th:text="'Ruolo: ' +${giocatore.ruolo}"></span>							
					</div>
					
					<div class="spazio"></div>
					<div>
						<img th:src="@{'data:image;base64,' + ${giocatore.imageString}}" width="30%">					
					</div>
					
					<div class="spazio"></div>
					<div class="simpleContainer">
						<form th:action="@{'/admin/deleteGiocatore/' + ${giocatore.id}}" method="GET" >
							
							 <div>
								<span><button class="button-red" type="submit">elimina</button></span>
							</div>
						</form>
						<form th:action="@{'/roster'}" method="GET" >
							 <div>
								<span><button class="button-green" type="submit">annulla</button></span>
							</div>
						</form>
				     </div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
</body>

</html>