<!DOCTYPE html>
<head>
	<title>
		Aggiungi artista
	</title>
	<link rel="stylesheet" href="/css/stileGenerale.css" />
</head>
<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
    <div th:if="${partita}">
	    <h1 th:text="${partita.nomeSquadraAvversaria}">squadra avversaria</h1>
    </div>
    <div th:unless="${partita}">Non esiste la partita</div>
    <div><a>Giocatori presenti alla partita: </a>
    	<ul>
			<li th:each="prestazione : ${prestazioni}">
				<div>
					<a th:text="${prestazione.giocatore.nome} + ' ' + ${prestazione.giocatore.cognome}"></a>
					<a th:href="@{'/admin/formConfirmDeletePrestazione'+'/'+${prestazione.id}}">cancella</a>
				</div>
			</li>
		</ul>
	</div>
	<div><a>Giocatori che puoi aggiungere alla partita: </a>
		<ul>
			<li th:each="giocatoreAssente : ${giocatoriAssenti}">
				<div>
					<a th:text="${giocatoreAssente.nome} + ' ' + ${giocatoreAssente.cognome}"></a>
					<a th:href="@{'/admin/formNuovaPrestazione'+'/'+${partita.id}+'/'+${giocatoreAssente.id}}">aggiungi</a>
				</div>
			</li>
		</ul>
	</div>
	<a th:href="@{'/admin/partita' + '/' + ${partita.id}}">Fine</a>
  </body>
</html>