<!DOCTYPE html>
<html>

<head>
	<title>
		Form confirm to delete film
	</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
	<div class="schermo-vertical">
		<div class="header">
			<div class="text" th:if="${userDetails}">
				<span th:text="${userDetails.username}" class="username"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</div>
		
		<div class="section">
			<div class="flexbox-container-horizontal-c">
				
				<div class="flexbox-item-solo">
					<h3>Sicuro di voler cancellare la seguente partita:</h3>
					<div>
						<div class="flex-item-box">
								<div class="flexbox-container-vertical">
									<div class="flex-item-slice">
										<div class="riempiTutto-center">
											<span th:text="${partita.data}"></span>
										</div>
									</div>
									<div class="flex-item-slice">
										<div class="flex-item-slice-unTerzo">
											<img src="/images/logo-Roma-Eur.png" width="100%">
										</div>
										<div class="flex-item-slice-dueTerzi">
											<a th:href="@{'/partita' + '/' + ${partita.id}}"
												th:text="'RomaEur' + ' ' + ${partita.getPunteggioA()}">Roma eur:0 
											</a>
										</div>
									</div>
									<div class="flex-item-slice">
										<div class="flex-item-slice-unTerzo">
											<img th:src="@{'data:image;base64,' + ${partita.getStemmaSquadraString}}" width="100%">
										</div>
										<div class="flex-item-slice-dueTerzi">
											<a th:href="@{'/partita' + '/' + ${partita.id}}"
												th:text="${partita.getNomeSquadraAvversaria()} + ' ' + ${partita.getPunteggioB()}">Roma eur:0 
											</a>
										</div>
									</div>
									
								</div>
						</div>
					</div>
					<div class="simpleContainer">
						<form th:action="@{'/admin/deletePartita/' + ${partita.id}}" method="GET" >
							 <div>
								<span><button class="button-red" type="submit">elimina</button></span>
							</div>
						</form>
						<form th:action="@{'/calendario'}" method="GET" >
							 <div>
								<span><button class="button-green" type="submit">annulla</button></span>
							</div>
						</form>
				     </div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
</body>

</html>