<!DOCTYPE html>
<html>

<head>
	<title>
		Form confirm to delete giocatore
	</title>
	<link rel="stylesheet" href="/css/stileGenerale.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}" class="username"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
	
	<div>
		<span>Sicuro di voler cancellare il giocatore: </span>
		<div th:text="${giocatore.nome} + ' ' + ${giocatore.cognome} + ' (' + ${giocatore.dataDiNascita} + ')'"></div>
	</div>
	<a th:href="@{'/admin/deleteGiocatore/' + ${giocatore.id}}">Conferma</a>
	
</body>

</html>