<!DOCTYPE html>
<html>

<head>
	<title>
		Form confirm to delete film
	</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
	<div class="schermo-vertical">
		<div class="header">
			<div class="text" th:if="${userDetails}">
				<span th:text="${userDetails.username}" class="username"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</div>
		
		<div class="section">
			<div class="flexbox-container-horizontal-c">
				<div class="flex-item-formNew">
					<span>Sicuro di voler cancellare la prestazione: </span>
					<div th:text="${prestazione.giocatore.nome} + ' ' + ${prestazione.giocatore.cognome} + ' (' + ${prestazione.partita.nomeSquadraAvversaria} + ')'"></div>
					<div th:text="'Punti: ' + ${prestazione.punti} + 'Assist: ' +  ${prestazione.assist} + 
							'Rimbalzi: ' + ${prestazione.rimbalzi}">25 10 10
					</div>
					
					<div class="simpleContainer">
						<form th:action="@{'/admin/deletePrestazione/' + ${prestazione.id}}" method="GET" >
							 <div>
								<span><button class="button-red" type="submit">elimina</button></span>
							</div>
						</form>
						<form th:action="@{'/admin/formUpdatePartita/' + ${partita.id}}" method="GET" >
							 <div>
								<span><button class="button-green" type="submit">annulla</button></span>
							</div>
						</form>
				     </div>
					
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
</body>

</html>