<!DOCTYPE html>
<html>
  <head>
    <title>Giocatore</title>
	<link rel="stylesheet" href="/css/bio.css" />
</head>

<body>
	
	<header class = "header">
		<div class = "utente" th:text="Ciao"></div>
	</header>
	
	
	<div class = "sidebar"><a href="/"><img src="/images/logo-Roma-Eur.png" width="100%"/></a>
	<a href="/admin/rosterAdmin">Roster</a>
	
	</div>
	
	
    

    
   
   
    <div class = "bio" th:if="${giocatore}">
		
    <div class = "bioInfo">
		<h1 th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Gianluca Proietti</h1>
        <div th:text="'Data di nascita: ' + ${giocatore.dataDiNascita}">01/01/2000</div>
        <div th:text="'Ruolo: ' + ${giocatore.ruolo}">Centro</div>
    </div>
    
        <div class = "maglietta">
				<img width="100%" src="/images/CanottaRossa.png" /></div>

		<div class="scritta">
	        <p th:text="${giocatore.numeroMaglia}"></p>
</div>

		
	<div class = "bioPic">
		<img width="50%" th:src=${giocatore.srcImage} /></div>

   <div th:unless="${giocatore}">Non esiste</div>
	

    </div>
<h2>Statistiche</h2>


<div class = "tabellino">
	<table>
		<tr>
	<th>Partite giocate</th>
	<th>Punti</th>
    <th>Assist</th>
    <th>Rimbalzi</th>
    <th>Palle rubate</th>
    <th>Stoppate</th>
 </tr>
 
 <tr>
	 	<th th:text="${giocatore.getPartiteGiocate()}">2</th>
	 	<th th:text="${giocatore.getMediaPunti()}">2</th>
	 	<th th:text="${giocatore.getMediaAssist()}">2</th>
	 	<th th:text="${giocatore.getMediaRimbalzi()}">2</th>
	 	<th th:text="${giocatore.getMediaRubate()}">2</th>
	 	<th th:text="${giocatore.getMediaStoppate()}">2</th>




	</tr>
 
	</table>
	

</div>
		
    <footer></footer>
  </body>
</html>
