<!DOCTYPE html>
<html>

<head>
	<title>
		RomaEur - Homepage
	</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
	<h1>Consulta l'archivio ADMIN</h1>
	<div>
		<a href="/admin/rosterAdmin">Roster</a>
	</div>
	<div>
		<a href="/admin/calendarioAdmin">Calendario</a>
	</div>
	
	<footer></footer>
</body>

</html>