<!DOCTYPE html>
<html>

<head>
	<title>Calendario</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>

	
	<h1>Calendario</h1>
	<div th:if="${calendario==null || calendario.isEmpty()}">Non ci sono partite nel sistema</div>
	<ul>
		<li th:each="partita : ${calendario}">
			<a th:href="@{'/partita' + '/' + ${partita.id}}"
				th:text="'RomaEur' + ' ' + ${partita.getPunteggioA()} + '-' + ${partita.getPunteggioB()} + ' ' + ${partita.getNomeSquadraAvversaria()} + ' ' + ${partita.data}">Roma eur:0 
			</a>
			<a th:href="@{'/formConfirmDeletePartita/' + ${partita.id}}">elimina</a>
		</li>
	</ul>
	
	
	
	<div>
		<a href="/formNuovaPartita">Inserisci nuova partita</a>
	</div>
</body>

</html>