<!DOCTYPE html>
<html>

<head>
	<title>Calendario</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
	<h1 th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}"></h1>
	<h1 th:text="${partita.nomeSquadraAvversaria} "></h1>
	<h1>Aggiungi una prestazione</h1>
	
	<form th:action="@{'/prestazione/' + ${partita.id} + '/'+ ${giocatore.id}}" method="POST" th:object="${prestazione}">
		<div>
			<label>Punti:</label> 
			<span><input type="text" th:field="${prestazione.punti}" /></span>
		    </span>
		</div>

		<div>
			<label>Assist:</label> <span><input type="text" th:field="${prestazione.assist}" /></span>
		    </span>
		</div>
		
		<div>
			<label>Rimbalzi:</label> <span><input type="text" th:field="${prestazione.rimbalzi}" /></span>
		    </span>
		</div>
		
		

		
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>	
	
	
	
	
	
</body>

</html>