<!DOCTYPE html>
<html>
  <head>
    <title>Giocatore</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
	<header></header>
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
    <div th:if="${giocatore}">
        <h1 th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}"></h1>
        <span th:text="'(' + ${giocatore.dataDiNascita} + ')'"></span>
    </div>
   <div th:unless="${giocatore}">Non esiste</div>
    
	<h1>Statistiche</h1>
    
    
    
    
    <footer></footer>
  </body>
</html>
