<!DOCTYPE html>
<html>

<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="/css/indexAdmin.css" />
</head>

<body>
	<div class="schermo-vertical">
		<div class="header">
			<div class="text" th:if="${userDetails}">
				<span th:text="${userDetails.username}" class="username"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</div>
		
		<div class="section">
			<div class="flexbox-container-vertical">
				<div class="textCentered"><h1>Home</h1></div>
				<div class="flexbox-container-horizontal-se">
					<div class="flex-item-box">
						<div class="flex-item-unTerzoH">
							Roster
						</div>
						<div class="flex-item-DueTerziH">
							<a href="/roster"><img src="/images/logoRomaEur.png" width="50%"></a>
						</div>
					</div>
					
					
					<div class="flex-item-box">
						<div class="flex-item-unTerzoH">
							Calendario
						</div>
						<div class="flex-item-DueTerziH">
							<a href="/calendario"><img src="/images/calendario.png" width="50%"></a>
						</div>
					</div>		
				</div>
		</div>
		<div class="footer">
		</div>
	</div>
		</div>

</body>

</html>