<!DOCTYPE html>
<html>

<head>
	<title>
		New voto mvp
	</title>
	<link rel="stylesheet" href="/css/mvp.css" />
</head>

<body>
		<div class="schermo-vertical">

	<div class="header">
			<div class="text" th:if="${userDetails}">
				<span th:text="${userDetails.username}" class="username"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</div>
	
			<div class="section">
			<div class="flexbox-container-vertical">

			<div class="textCentered"><h1>Vota il tuo mvp</h1></div>

	<form th:action="@{'/votoMvp/' + ${partita.id}}" method="POST" th:object="${voto}">
		
		
		
		
									
	
	<div  class="flex-item-box">
		<div class="elencoGiocatori">
  <ul class="myUL">
    
  
<li th:each="giocatore : ${partita.getGiocatoriDellaPartita()}">
			<input type="radio" name="idVoto" th:value="${giocatore.id}" checked><span th:text="${giocatore.nome} + ' ' +${giocatore.cognome}"></span>

			</li>
			</ul>
</div>		
								
	
						</div>

		<span class="bottone"><button class="button-green" type="submit">Conferma</button></span>

		</form>


					</div>
										</div>
										<div class="imgAbsolute">
			<a th:href="'/partita/' + ${partita.id}"><img src="/images/back.png" width="40%"/></a>
		</div>


		<div class="footer"></div>
	</div>

</body>

</html>