<!DOCTYPE html>
<html>
  <head>
    <title>Partita</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>

    <h1>Dettagli Partita</h1>
    
    <div th:if="${partita}">
		        <span th:text="'Roma Eur: ' + ${partita.getPunteggioA()} + '-' + ${partita.getPunteggioB()} + ' ' + ${partita.getNomeSquadraAvversaria()}">Roma Eur: punteggio</span>
		        <span th:text="${partita.getData()}"></span>

    </div>
    <div th:unless="${partita}">Non esiste</div>
    
    
    <h1>Tabellino</h1>
	<div th:if="${prestazioni==null || prestazioni.isEmpty()}">Il tabellino della partita non è ancora disponibile</div>
	<ul>
		<li th:each="prestazione : ${prestazioni}">
			<div th:text="${prestazione.punti} + ${prestazione.assist} + ${prestazione.rimbalzi}">25 10 10</div>
		</li>
	</ul>
    
    
    	
    	
    	<div>
		<a th:href="@{'/formNuovaPrestazione/' + ${partita.id}}">Inserisci nuova prestazione</a>
	</div>
	
	
	  <div><a href="/calendario"><button>Calendario</button></a></div>


  </body>
</html>
