<!DOCTYPE html>
<html>
  <head>
    <title>Partita</title>
	<link rel="stylesheet" href="/css/partita.css" />
</head>

<body>
	
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>

    <h1>Dettagli Partita</h1>
    
    <div th:if="${partita}">
       <span th:text="'Roma Eur: ' + ${partita.getPunteggioA()} + '-' + ${partita.getPunteggioB()} + ' ' + ${partita.getNomeSquadraAvversaria()}">Roma Eur: punteggio</span>
       <span th:text="${partita.getData()}"></span>
    </div>
    <div th:unless="${partita}">Non esiste</div>
    
    
    <h1>Tabellino</h1>
	<div th:if="${prestazioni==null || prestazioni.isEmpty()}">Il tabellino della partita non è ancora disponibile</div>
	<div class = "tabellino">
	<table>
		<tr>
	<th>Giocatore</th>
	<th>Punti</th>
    <th>Assist</th>
    <th>Rimbalzi</th>
 </tr>
 
	
<ul>
		<li th:each="prestazione : ${prestazioni}">
			<tr>
		 <td th:text="${prestazione.giocatore.nome} + ' ' + ${prestazione.giocatore.cognome}"></td>
		 <td th:text="${prestazione.punti}"></td>
         <td th:text="${prestazione.assist}"></td>   
         <td th:text="${prestazione.rimbalzi}"></td>
    
  </tr>
		</li>
	</ul>
	</table>
	

</div>
	
	
	
    <div>
		<a th:href="@{'/formUpdatePartita/' + ${partita.id}}">Inserisci/elimina prestazione</a>
	</div>
	
	
	  <div><a href="/calendario"><button>Calendario</button></a></div>


  </body>
</html>
