<!DOCTYPE html>
<html>
  <head>
    <title>Partita</title>
	<link rel="stylesheet" href="/css/partita.css" />
</head>

<body>
	<header class = "header">
		<div class = "utente" th:text="Ciao"></div>
	</header>
	
	<span><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></span>
    <div><a href="/calendario"><span>Calendario</span></a></div>

	
	
<div class="punteggio">
    
       <div class="immagine"><img src="/images/logo-Roma-Eur.png" width="75%"/></div>
       <div th:text="'Roma Eur '">Roma Eur</div>
       <div class="punti" th:text="' ' + ${partita.getPunteggioA()} + ' - ' + ${partita.getPunteggioB()}">30-30</div>
       <div th:text="' ' + ${partita.getNomeSquadraAvversaria()}">Avversari</div>
        <div class="immagine"><img width="55%" th:src=${partita.stemmaSquadraAvversaria} /></div>
 </div>
   
   
   
   

   
    <h1>Tabellino</h1>
    
    
	<div class = "tabellino">
	<table>
		<tr>
	<th>Giocatore</th>
	<th>Punti</th>
    <th>Assist</th>
    <th>Rimbalzi</th>
    <th>Rubate</th>
    <th>Stoppate</th>

 </tr>
 
	
<ul>
		<li th:each="prestazione : ${prestazioni}">
			<tr>
		 <td th:text="${prestazione.giocatore.nome} + ' ' + ${prestazione.giocatore.cognome}"></td>
		 <td th:text="${prestazione.punti}"></td>
         <td th:text="${prestazione.assist}"></td>   
         <td th:text="${prestazione.rimbalzi}"></td>
         <td th:text="${prestazione.rubate}"></td>
         <td th:text="${prestazione.stoppate}"></td>


    
  </tr>
		</li>
	</ul>
	</table>
	

</div>
</div>
	
	
	
    <div>
		<a th:href="@{'/formUpdatePartita/' + ${partita.id}}">Inserisci/elimina prestazione</a>
	</div>
	
	

    <footer></footer>

  </body>
</html>
