<!DOCTYPE html>
<html>
  <head>
    <title>Partita</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="20%"/></a></div>

    <h1>Dettagli Partita</h1>
    
    <div th:if="${prestazione}">
		        <span th:text="${prestazione.punti}">15</span>
		        <span th:text="${prestazione.assist}">15</span>
		        <span th:text="${prestazione.rimbalzi}">15</span>
		        		        
    </div>
    <div th:unless="${prestazione}">Non esiste</div>
    
    
    	<div><a href="/calendario"><button>Calendario</button></a></div>
    	
    	
    	

  </body>
</html>
