<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
		<div class="schermo-vertical">

	<div class="header">
			<div class="text" th:if="${userDetails}">
				<span th:text="${userDetails.username}" class="username"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</div>

			<div class="section">
							<div class="flexbox-container-vertical">

			<div class="textCentered"><h1>Congratulazioni ti sei registrato!</h1></div>

	
	<div  class="registration-successfull-box">
		
						<div>
		<span>Nome: </span>
		<span th:text="${user.name}"></span>
	</div>
	<div>
		<span>Cognome: </span>
		<span th:text="${user.surname}"></span>
	</div>
	<div>
		<span>Email: </span>
		<span th:text="${user.email}"></span>
	</div>		
	
						</div>
						
							<div class="simpleContainer-elementsEnd">
					<a href="/"><img src="/images/home.png" width="3%"/></a>
				</div>

							</div>
										</div>

	<div class="footer">
		</div>
		</div>
</body>
</html>