<!DOCTYPE html>
<html>

<head>
	<title>Roster</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

	
	<h1>Roster</h1>
	<div th:if="${roster==null || roster.isEmpty()}">Non ci sono giocatori nel sistema</div>
	<ul>
		<li th:each="giocatore : ${roster}">
			<a th:href="@{'/giocatore' + '/' + ${giocatore.id}}"
				th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}"></a>
		</li>
	</ul>
	
	<div><a th:href="@{/formNewGiocatore}">Aggiungi giocatore</a>
	</div>
	
</body>

</html>