<!DOCTYPE html>
<html>

<head>
	<title>Roster</title>
	<link rel="stylesheet" href="/css/stileRomaEur1.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}" class="username"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-Roma-Eur.png" width="5%"/></a></div>
	<h1>Roster</h1>
	<div th:if="${roster==null || roster.isEmpty()}">Non ci sono giocatori nel sistema</div>
	<ul>
		<li th:each="giocatore : ${roster}">
			<a th:href="@{'/giocatore' + '/' + ${giocatore.id}}"
				th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">
			</a>
			<a th:if="${credenziali!=null && credenziali.isAdmin()}">
				<a th:href="@{'/admin/formConfirmDeleteGiocatore/' + ${giocatore.id}}">elimina</a>
			</a>
		</li>
	</ul>
		<a th:if="${credentials!=null && credentials.isAdmin()}">
			<a th:href="@{/admin/formNewGiocatore}">Aggiungi giocatore</a>
		</a>
	
	<footer></footer>
</body>

</html>